{
  "sqltools.connections": [
    {
      "name": "Local PostgreSQL",
      "driver": "PostgreSQL",
      "server": "localhost",
      "port": 5432,
      "database": "YOUR_DATABASE_NAME",
      "username": "YOUR_USERNAME",
      "askForPassword": true,
      "previewLimit": 50,
      "ssh": "Disabled"
    }
  ]
}
